<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHMOTKI</title>
    <link rel="stylesheet" href="reg.css">
</head>

<body>
    <a href="/"> <img class="logo" src="/pict/qwe1.png"></a>
    <div></div>
    <form action="/main/registrate-user" method="post" class="regform">
        <br><br><br><br><br>
        <label class="l1" for="login">Эл-почта:</label>
        <input type="email" name="login" id="login" required><br>
        <label class="l2" for="Password">Пароль:</label>
        <input type="password" name="password" id="password" required minlength="8"><br>
        <button class="bt1" type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        <a class="qwe" href="/main/auto">
            <div class="akkgot">У меня уже есть аккаунт</div>
        </a>
    </form>

    </div>

</body>

</html>